<script>
    function loadPage() {
        window.im.initImPage(document.querySelector('.page_content'));
    }

    document.addEventListener("DOMContentLoaded", (e) => {
        loadPage();
    });

    if (window.im != null) {
        loadPage();
    }
</script>
