{extends "../@layout.latte"}
{block title}{_my_messages}{/block}

{block header}{_my_messages}{/block}

{block content}
    <script>
        async function init() {
            await window.im.init(document.querySelector('.page_content'));
        }
        init();
    </script>
{/block}
