{extends "../@layout.latte"}

{block title}
    {if $imAvailable}
        {_my_messages}
    {else}
        {_section_maintenance}
    {/if}
{/block}

{block header}
    {if $imAvailable}
        {_my_messages}
    {else}
        {_section_maintenance}
    {/if}
{/block}

{block content}
    {if $imAvailable}
        {include "partials/container.latte"}
    {else}
        {include "partials/maintenance.latte"}
    {/if}
{/block}
