<div class="cl_element" >
    <div class="cl_avatar">
        <a href="{$user->getURL()}">
            <img class="ava" src="{$user->getAvatarUrl('miniscule')}" />
        </a>
    </div>
    <a href="{$user->getURL()}" class="cl_name">
        <text class="cl_fname">{$user->getFirstName()}</text>
        <text class="cl_lname">{$user->getLastName()}</text>
    </a>
</div>