<center style="background: white;border: #DEDEDE solid 1px;">
    <span style="color: #707070;margin: 60px 0;display: block;">
        <b n:if="!empty($title)">{$title}<br><br></b>
        {$description}
    </span>
</center>