{var $user = $notification->getModel(1)}

<a href="{$user->getURL()}"><b>{$user->getCanonicalName()}</b></a>
{_nt_commented_yours} {include under}: "{$notification->getData()}".
<div class="nobold">
    {$notification->getDateTime()}
</div>