<div class="wysiwyg_bbpanel" id="note_toolbar" style="width:603px;box-sizing:border-box;">
    <a href="javascript:void(0)" class="wysiwyg_icbold" data-action="bold" title="Bold"></a>
    <a href="javascript:void(0)" class="wysiwyg_ici" data-action="italic" title="Italic"></a>
    <a href="javascript:void(0)" class="wysiwyg_icunderline" data-action="underline" title="Underline"></a>
    <a href="javascript:void(0)" class="wysiwyg_icpleft" data-action="left" title="Left"></a>
    <a href="javascript:void(0)" class="wysiwyg_icpcenter" data-action="center" title="Center"></a>
    <a href="javascript:void(0)" class="wysiwyg_icpright" data-action="right" title="Right"></a>
    <a href="javascript:void(0)" class="wysiwyg_iclist" data-action="list" title="List"></a>
    <a href="javascript:void(0)" class="wysiwyg_ich1" data-action="h3" title="H3"></a>
    <a href="javascript:void(0)" class="wysiwyg_ich2" data-action="h4" title="H4"></a>
    <a href="javascript:void(0)" class="wysiwyg_ich3" data-action="h5" title="H5"></a>
    <a href="javascript:void(0)" class="wysiwyg_icquote" data-action="quote" title="Quote"></a>
    <a href="javascript:void(0)" class="wysiwyg_iclink" data-action="link" title="Link"></a>
    <a href="javascript:void(0)" class="wysiwyg_icphoto" data-action="image" title="Image"></a>
    <a href="javascript:void(0)" class="wysiwyg_ictable" data-action="table" title="Table"></a>
</div>
