<div class="ovk-video">
    <a href="/video{$video->getPrettyId()}" class="preview" align="center" onclick="VideoViewer.openById({$video->getPrettyIdWithKey()}, {}, event)">
        <img
            src="{$video->getThumbnailURL()}"
            style="max-width: 170px; max-height: 127px; margin: auto;" />
    </a>
    <div>
        <b><a href="/video{$video->getPrettyId()}" onclick="VideoViewer.openById({$video->getPrettyIdWithKey()}, {}, event)">{ovk_proc_strtr($video->getName(), 30)}</a></b><br>
        <span style="font-size: 10px;">{$video->getPublicationTime()} | {_comments} ({$video->getCommentsCount()})</span>
    </div>
</div>
