.left_small_block > div > div > div > table > tbody > tr > td > a > img,
table.User > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > a:nth-child(1) > img:nth-child(1)
{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.post > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > img:nth-child(1)
{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

div.content > table:nth-child(1) > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > a:nth-child(1) > img:nth-child(1)
{
    width: 75px;
    height: 75px;
    object-fit: cover;
}

.crp-entry--image > img
{
    width: 48px;
    height: 48px;
    object-fit: cover;
}

.crp-entry--message---av > img,
.ava
{
    width: 42px;
    height: 42px;
    object-fit: cover;
}
