/*avatar controls*/
#deleteButton
{
    opacity:0.8;
}
#avatarOptionsBlock, #avatarDeleteBlock, #_newPicture, #_newAvatarPicture {
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
#avatarDeleteBlock
{
    position: relative;
    background-color:rgba(27, 27, 27, 0.8); 
    opacity:0;
}
#avatarOptionsBlock
{
    position:absolute;
    width:100px;
    background-color:rgba(27, 27, 27, 0.8); 
    list-style-type: none;
    font-size:11px;
    margin-bottom:20px;
    padding-top:10px;
    padding-bottom:10px;
    opacity:0;
}
#_avatarDelete 
{
    position:absolute;
    right:0;
    top:0;
    background-color:rgba(0, 0, 0, 0.7); 
    border-radius: 0px 0px 3px 3px;
    padding:2px;
    padding-left:3px;
    opacity:1;
}
div#avatarAll:hover #avatarDeleteBlock {
    opacity: 1 !important;
    visibility: visible;
}
div#avatarAll:hover #avatarOptionsBlock {
    opacity: 1 !important;
    visibility: visible;
}
#uploadIcon
{
    position:absolute;
    left:0;
    margin-left:20px;
}
#_newPicture
{
    color:#B2B2B2;
}
#_newPicture:hover
{
    color: #D9D9D9;
}
.newpict
{
    position:absolute;
    text-align:center;
    left:20%;
    top:75%;
    color:#5680a0 !important;
}
#_newAvatarPicture2
{
    position:absolute;
    left:0;
    margin-left:20px;
}
#_newAvatarPicture
{
    color:#B2B2B2;
}
#_newAvatarPicture:hover
{
    color:#D9D9D9;
}
