body.dimmed > .dimmer {
    z-index: 200;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
}

.ovk-diag-cont {
    z-index: 1024;
    position: fixed;
    width: 420px;
    min-height: 200px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: #c7bdbd94;
}

.ovk-diag {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 400px;
    background-color: #fff;
    border: 1px solid #505050;
}

.ovk-diag-head, .ovk-diag-body, .ovk-diag-action {
    width: 400px;
    box-sizing: border-box;
}

.ovk-diag-head {
    height: 25%;
    padding: 5px;
    background-color: #757575;
    border-bottom: 1px solid #3e3e3e;
    color: #fff;
    font-weight: 900;
    font-size: 15px;
}

.ovk-diag-body {
    padding: 20px;
    min-height: 110px;
}

.ovk-diag-action {
    padding: 10px;
    height: 25%;
    background-color: #d4d4d4;
    text-align: right;
}

.ovk-diag-action > .button {
    margin-left: 10px;
}
