body.dimmed > .dimmer {
    z-index: 200;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000cf;
    opacity: 1;
}

body.dimmed > .dimmer #clickable {
    margin: 100px;
    height: 100%;
}

.ovk-diag-cont {
    z-index: 1024;
    position: fixed;
    width: 420px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: #c7bdbd1a;
}

.ovk-diag {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: calc(100% - 20px);
    background-color: #fff;
    border: 1px solid #505050;
}

.ovk-diag-head, .ovk-diag-body, .ovk-diag-action {
    width: 100%;
    box-sizing: border-box;
}

.ovk-diag-head {
    padding: 10px 12px 9px 12px;
    background-color: #757575;
    border-bottom: 1px solid #3e3e3e;
    color: #fff;
    font-weight: 900;
    font-size: 15px;
}

.ovk-diag-body {
    padding: 20px;
    overflow-y: auto;
    max-height: 83vh
}

.ovk-diag-action {
    padding: 10px;
    background-color: #d4d4d4;
    text-align: right;
}

.ovk-diag-action > .button {
    margin-left: 10px;
}

/* Modal player */

.ovk-modal-player-window {
    box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.2);
    width: 823px;
    min-height: 400px;
    margin: 9vh auto 0 auto;
}

.ovk-modal-player-window #ovk-player-part {
    height: 70vh;
    background: black;
    padding: 15px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ovk-modal-player-window #ovk-player-part .top-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ovk-modal-player-window #ovk-player-part .top-part b {
    color: var(--cinema);
    font-size: 12px;
}

.ovk-modal-player-window #ovk-player-part .top-part .top-part-buttons, .ovk-modal-player-window #ovk-player-part .bottom-part {
    color: var(--cinema);
}

.ovk-modal-player-window #ovk-player-part .top-part .top-part-buttons a, .ovk-modal-player-window #ovk-player-part .bottom-part a {
    color: var(--cinema);
}

.ovk-modal-player-window #ovk-player-info {
    display: none;
}

.ovk-modal-player-window #ovk-player-info.shown {
    display: block;
}

.ovk-modal-player-window #ovk-player-info {
    background: white;
    min-height: 200px;
    padding: 5px 15px;
}

.ovk-modal-player-window .media-page-wrapper-comments {
    width: 100%;
}

.ovk-modal-player-window .center-part {
    text-align: center;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ovk-modal-player-window .center-part .gray {
    color: gray;
}

.ovk-modal-player-window .center-part .bsdn, .ovk-modal-player-window .center-part .bsdn-player {
    height: 100%;
    width: 100%;
}

.miniplayer {
    position: fixed;
    background: #363636f2;
    border-radius: 3px;
    z-index: 7777;
    padding: 2px 7px;
    display: flex;
    flex-direction: column;
}

.miniplayer .miniplayer-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.miniplayer .miniplayer-head b {
    color: white;
    user-select: none;
}

.miniplayer .miniplayer-head .miniplayer-head-buttons {
    display: flex;
    align-items: center;
    gap: 4px;
}

.miniplayer .miniplayer-head-buttons {
    height: 20px;
}

.miniplayer .miniplayer-body {
    height: 100%;
}

.miniplayer .miniplayer-body .bsdn {
    height: 100%;
}

.miniplayer .miniplayer-body .bsdn .bsdn-player {
    height: 100%;
}

.miniplayer .miniplayer-body iframe {
    width: 100%;
    height: 100%;
}

.ovk-photo-view-dimmer.with-roll {
    padding-bottom: 100px;
}

#photoviewer-roll {
    position: fixed;
    z-index: 302;
    left: 0px;
    bottom: 0px;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    padding: 18px 0px 0px 0px;
    display: flex;
    flex-wrap: nowrap;
}

#photoviewer-roll::before,
#photoviewer-roll::after {
    position: fixed;
    content: "";
    display: block;
    left: 0;
    height: 100%;
    width: 50px;
    z-index: 309;
    background: linear-gradient(90deg, #323030a5, transparent);
}

#photoviewer-roll::after {
    right: 0;
    left: unset;
    background: linear-gradient(270deg, #323030a5, transparent);
}

#photoviewer-roll .roll-el {
    width: 100px;
    height: 100px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;

    transition: opacity 249ms ease-in-out;
}

#photoviewer-roll .roll-el img {
    height: 100px;
    width: 100px;
    object-fit: contain;
    transition: width 250ms ease-in-out, height 100ms ease-in-out;
}

#photoviewer-roll .roll-el:hover,
#photoviewer-roll .roll-el.selected {
    opacity: 1;
}

#photoviewer-roll .roll-el:hover img,
#photoviewer-roll .roll-el.selected img {
    height: 120px;
}

.ovk-photo-view-dimmer .bottom-part {
    display: flex;
    justify-content: space-between;
}

.ovk-photo-view-dimmer .bottom-part #videoMoveArrows a {
    color: var(--cinema);
    cursor: pointer;
}

/* minimized*/

.ovk-msg-all.ovk-msg-minimized {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: unset;
    bottom: unset;
    height: 500px;
    overflow: unset;
    min-width: 299px;
    min-height: 192px;
}

.ovk-msg-all.ovk-msg-minimized .ovk-photo-view-overlay {
    display: none;
}

.ovk-msg-all.ovk-msg-minimized .top-part b {
    user-select: none;
    color: var(--common-2) !important;
    font-size: 12px;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ovk-msg-all.ovk-msg-minimized .ovk-photo-view {
    min-width: 200px;
}

.ovk-photo-view-dimmer.mode-pptx hr,
.ovk-photo-view-dimmer.mode-pptx .media-page-wrapper-comments {
    display: none;
}

.ovk-photo-view-dimmer.ovk-msg-minimized .ovk-modal-player-window {
    width: 400px;
    width: 100%;
    margin: unset;
}

.ovk-photo-view-dimmer.ovk-msg-minimized #ovk-player-info,
.ovk-photo-view-dimmer.ovk-msg-minimized .bottom-part {
    display: none;
}

.ovk-photo-view-dimmer.ovk-msg-minimized #ovk-player-part iframe {
    width: 100%;
    height: 100%;
}

.ovk-photo-view-dimmer.ovk-msg-minimized .ovk-modal-player-window #ovk-player-part {
    padding: 0px 5px 5px 5px;
    background: #363636ed;
    padding: 0px 8px 8px 8px;
    justify-content: unset;
}

.ovk-photo-view-dimmer .miniplayer-head-buttons {
    display: none
}

.ovk-photo-view-dimmer.ovk-msg-minimized .top-part {
    padding: 7px 0px;
}

.ovk-photo-view-dimmer.ovk-msg-minimized .top-part-buttons {
    display: none;
}

.ovk-photo-view-dimmer.ovk-msg-minimized .ovk-modal-player-window .center-part {
    height: 100%;
}

.ovk-photo-view-dimmer.ovk-msg-minimized .miniplayer-head-buttons {
    display: flex;
    gap: 5px;
}

.ovk-photo-view-dimmer.ovk-msg-minimized .miniplayer-head-buttons div {
    width: 16px;
    height: 16px;
    background: url(/assets/packages/static/openvk/img/wall.png) no-repeat 1px 0;
    background-repeat: no-repeat;
    opacity: 0.5;
    cursor: pointer;
}

.ovk-photo-view-dimmer.ovk-msg-minimized .miniplayer-head-buttons div:hover {
    opacity: 1;
}

.ovk-photo-view-dimmer.ovk-msg-minimized .miniplayer-head-buttons #miniplayer_return {
    background-position: -28px 0px;
}

.ovk-photo-view-dimmer.ovk-msg-minimized .miniplayer-head-buttons #miniplayer_close {
    background-position: -12px 0px;
}

/* video player */

.ovk-photo-view-dimmer.queue-shown .ovk-modal-player-window {
    display: flex;
    width: unset;
}

.ovk-photo-view-dimmer.queue-shown #player-infos {
    width: 823px;
}

.ovk-photo-view-dimmer.queue-shown #player-video-queue {
    width: 200px;
    background: var(--cinema);
}

.ovk-photo-view-dimmer.queue-shown .ovk-photo-view-overlay {
    display: none;
}

/* Post */

.ovk-post-viewer {
    padding: 0;
}

.ovk-post-viewer .post_com_title {
    background: var(--post-head);
    padding: 15px 30px;
    box-sizing: border-box;
    height: 80px;

    display: flex;
    justify-content: space-between;
}

.ovk-post-viewer .photo_viewer_wrapper {
    display: block;
    width: 650px;
}

.ovk-post-viewer .ovk-photo-slide-left {
    width: 10%;
    left: -70px;
    top: 40px;
    height: 80%;
}

.ovk-post-viewer .ovk-photo-slide-right {
    width: 10%;
    right: -70px;
    top: 40px;
    height: 80%;
}

.ovk-post-viewer .itemAuthor {
    display: flex;
    gap: 15px;
}

.ovk-post-viewer .itemAuthor .itemAuthorAva {
    width: 50px;
    height: 50px;
    border-radius: 2px;
    object-fit: cover;
    object-position: top;
}

.ovk-post-viewer .itemAuthor2 {
    box-sizing: border-box;
    padding-top: 8px;
    font-size: 13px;
}

.ovk-post-viewer .itemAuthor2 .itemAuthorName {
    display: block;
}

.ovk-post-viewer .itemAuthor2 .itemAuthorName a {
    font-weight: bold;
    color: var(--text);
}

.post.in-window {
    border-bottom: unset;
    padding: 0px 30px;
}

.post.post_microblog.in-window .post-author-ava,
.post.post_microblog.in-window .post-author {
    display: none;
}

.ovk-post-viewer .itemPostTime {
    margin-top: 2px;
    display: block;
    font-size: 12px;
    color:gray;
}

.ovk-post-viewer #itemContentComments .item_comments {
    width: 100% !important;
    float: unset !important;
}

.ovk-post-viewer #itemContentActions .item_links {
    float: unset !important;
    min-height: unset !important;
    padding-left: unset !important;
    width: 100% !important;
}
