/* body {
    background-color: #f7f7f7;
}
#wrapHI, .container_gray {
    background-color: #fff;
}
*/

body {
    background-color: rgb(255, 255, 255);
        margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #29437b;
    cursor: pointer;
}

.page_footer .link {
    display: inline-block;
    color: #29437b;
    text-decoration: none;
    padding: 3px 7px;
}

.page_header {
    position: relative;
    width: 791px;
    
    height: 78px;
    background-repeat: no-repeat;
    background-position: 0;
    background: url(https://i.imgur.com/cqMsBNF.png);
}
/* https://i.imgur.com/LqsOsht.png */ 

/* https://i.imgur.com/kzwcBf8.png */

/* .header_navigation {
     text-align: center;
    line-height: 103px;
    padding-right: 8px;
    text-transform: lowercase;
    float: right; 
    
    display: none;
}

.header_navigation .link {
    background: url(https://i.imgur.com/c4W9P4X.png) no-repeat;
}
*/



.header_navigation {
    text-align: center;
    line-height: 20px;
    padding-right: 0px;
    text-transform: lowercase;
    float: right;
    padding-bottom: -8px;
    margin-bottom: -5px;
    margin-top: 29px;
    
}

.header_navigation .link {
    display: inline-block;
    height: 29px;
    padding: 11px 4px 0 7px;
    background-size: 1.5px 41px;
    font-family: sans-serif;
    font-size: 12px;
}

.header_navigation .link a {
  color: #dfe3ff;
  text-decoration: none;
  font-weight: normal;
}

.header_navigation .link a:hover {
  text-decoration: underline;
  color: #5a9cff;
}
.header_navigation .link {
  background: url(https://i.imgur.com/c4W9P4X.png) no-repeat;
}



input[type="search"] {
    display: none;
}

.navigation .link {

    display: block;
    padding: 1px 3px 3px 6px;
    text-decoration: none;
    border-top: 1px solid #fff;
    color: #000;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    font-size: 11px;
    text-align: left;
    cursor: pointer;
    background: none;
    margin-bottom: 1px;
}


.sidebar {
    margin: 1px 1px 1px 3px;
    border-style: dashed;
    border-color: #3b5998;
    border-width: 1px;
    width: 137px;
    
}



.navigation .edit-button {
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: rgb(255, 255, 255);
    color: grey;
}

.page_yellowheader {
    padding: 3px 3px 3px;
    font-weight: bold;
    background: url(https://i.imgur.com/5S6mE3Z.png) repeat-x;
    background-color: #3b5998;
    border-right: solid 1px #3b5998;
    border-left: solid 1px #3b5998;
    border-bottom: solid 1px #3b5998;
    overflow: hidden;
    color: #dfe3ff;
    
}

.page_yellowheader span {
    color: #dfe3ff;
}
.page_yellowheader a {
    color: #dfe3ff;
}
.content_title_expanded {
    border-top: #45688e solid 1px;
    background-color: #dae2e8;
    color: #45688e;
}
.navigation .link {
color:#2B587A;
}
.navigation .link:hover {
    background: 
#DAE1E8;
border-top: 1px solid
    #CAD1D9;
}
.tabs {
    border-bottom: 1px solid 
    #29437b;
}
#activetabs {
    background: 
    #29437b;
}

/*кнопки*/

.button {
    border-radius: 0px;
    border: #29437b;
    font-size: 11px;
    outline: none;
    white-space: nowrap;
    background: #29437b;
    background-position: 0px -16px;
    color: #edefff;
    padding: 4px 8px 4px;
    text-shadow: 0 1px 0 #29437b;
    cursor: pointer;
    text-decoration: none;
}
h4 {
    color: #29437b;
}
#faqhead {
    background: #3b5998;
    margin: 0px 5px 0px 5px;
    padding: 5px;
    font-weight: bold;
    border: 1px solid #3b5998;
    border-bottom: 0px;
}

#faqcontent {
    background: #fafafa;
    margin: 0px 5px 10px 5px;
    padding: 5px 5px 5px 10px;
    border: 1px solid #ddd;
}


.content_title_expanded {
    border-top: #29437b solid 1px;
    background-color: #cbd6ec;
    color: #29437b;
}

.content_subtitle {
    background-color: #eaedf2;
    display: block;
    font-size: 11px;
    color: rgb(119, 119, 119);
    border-bottom: 1px solid rgb(238, 238, 238);
    padding: 3px 8px;
    border-top: 1px solid #cbd6ec;
}

.content_title_unexpanded {
    background-image: url("../img/flex_arrow_shut.gif");
    background-color: rgb(218, 226, 255);
    font-weight: bold;
    color: #445477;
    font-size: 11px;
    cursor: pointer;
    display: block;
    background-repeat: no-repeat;
    border-top: 1px solid #29437b;
    padding: 3px 24px;
}

.completeness-gauge {
    position: relative;
    width: 95%;
    height: 20px;
    background-color: #D5DBE8;
}

.completeness-gauge > div {
    height: 100%;
    background-color: #A5B1C9;
}

.completeness-gauge > span {
    position: absolute;
    top: 55%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}


/* post */

.post-author {
    background-color: #F6F6F6;
    border-top: #29437b solid 1px;
    border-bottom: #e1e3e8 solid 1px;
    font-size: 11px;
    padding: 3px 5px 3px;
}

.post-author .date {
    font-size: 9px;
    color: black;
}



#wrapHI {
    border-right: 1px solid #3b5998;
    border-left: 1px solid #3b5998;
}

.wrap1 {
    border-right-color: #fff;
    border-bottom-color: #3b5998;
}

#wrapH {
    border-right: 1px solid rgb(255, 255, 255);
    border-left: 1px solid rgb(255, 255, 255);
}

#auth {
    padding: 9px;
}

.content_title_expanded, .content_title_unexpanded {
    background-image: unset !important;
    font-weight: bold;
    font-size: 11px;
    display: block;
    padding: 3px 10px;;
}
