body.no-scroll .messenger-app--tab-messenger {
    overflow-y: hidden;
    overflow-x: hidden;
    min-height: 100vh;
}

body.no-scroll .navigation {
    top: unset !important;
}

body.no-scroll .floating_sidebar.show {
    display: none;
}

body.no-scroll {
    overflow-x: hidden;
    scrollbar-gutter: unset;
}

body.no-scroll #wrapH {
    position: fixed;
    z-index: 4;
    top: 43px;
    width: 630px;
}

body.no-scroll .page_footer {
    display: none;
}

body.no-scroll .messenger-app--global-tabs {
    position: fixed;
    top: 65px;
    padding-top: 8px;
    background: white;
    z-index: 4;
}

body.no-scroll .messages--peers-tabs {
    position: fixed;
    z-index: 4;
    top: 97px;
    padding: 8px 10px;
    box-sizing: border-box;
    width: 627px;
    gap: 5px;
    background: #F6F6F6;
    border-bottom: 1px solid #707070;
}

body.no-scroll .page_header {
    position: fixed;
    z-index: 3;
}

body.no-scroll .sidebar {
    position: fixed;
    top: 44px;
}

.messenger-app--tab-conversations {
    margin: 0px -6px -10px -11px;
    width: 629px;
}

#tabs-wr {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#show_more.crp-load-more {
    margin-top: unset;
}

#conversations-top-buttons {
    background: #F6F6F6;
    display: flex;
    justify-content: space-between;
    gap: 11px;
    padding: 11px 11px;
    margin: 0px 0px 0px 1px;
    box-sizing: border-box;
}

#conversations-top-buttons #conversations-search-bar {
    width: 40%;
}

.crp-list {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #d6d6d6;
    max-height: 70%;
    overflow-y: auto;
}

.crp-entry {
    display: flex;
    padding: 8px;
    cursor: pointer;
    margin-left: 1px;
    border-bottom: 1px solid #d6d6d6;
}

.crp-entry.unread {
    background: #c6a99833;
}

.crp-entry.crp-entry-replied-same .crp-entry--message---av {
    width: 32px;
}

.crp-entry.crp-entry-replied-same .crp-entry--message---av img {
    display: none;
}

.crp-entry:hover {
    background-color: #373c4014;
}

.crp-entry--image,
.crp-entry--info {
    margin-right: 15px;
}

.crp-entry--info {
    width: 130px;
    margin-top: 2%;
}

.crp-entry--message{
    padding: 3px;
    width: 395px;
    border-radius: 3px;
}

.crp-entry--image>img {
    object-fit: contain;
    height: 50px;
    width: 50px;
    border-radius: 3px;
}

.crp-entry--info span {
    color: grey;
}

.crp-entry--info a {
    font-weight: 900;
}

.crp-entry--message.unread {
    padding: 3px;
    width: 395px;
    background: #e6e6e6;
    border-radius: 3px;
}

.messenger-app--messages---message.unread {
    background-color: #ededed;
    padding-bottom: 1.2rem;
    margin-bottom: 0;
}

.messenger-app--messages---message.unread:first-of-type {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding-bottom: 5px;
    margin-bottom: 1.2rem;
}

.messenger-app--messages---message.unread:last-of-type {
    padding-bottom: 5px;
    margin-bottom: 1.2rem;
}

.messenger-app #messenger-app--down-button {
    position: fixed;
    bottom: 113px;
    right: 37px;
    background: white;
    padding: 5px 5px;
    border: 1px solid black;
    cursor: pointer;
    display: none;
}

.crp-entry--message---av img {
    max-width: 32px;
    border-radius: 3px;
    margin-top: 20%;
    margin-left: 10%;
}

.crp-entry--message---av,
.crp-entry--message---text {
    display: inline-block;
    vertical-align: top;
    max-width: 50px;
    border-radius: 3px;
}

.crp-entry--message---text {
    max-height: 40px;
    max-width: 310px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
    /* white-space: nowrap; */ /* myslivets: а как........... */
    margin-left: 3%;
}

.crp-entry--message---text,
.messenger-app--messages---message .time {
    color: #404036;
    display: inline-block;
}

.messenger-app--messages---message .time {
    position: absolute;
    top: 0px;
    height: 100%;
    display: block;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    align-items: center;
    right: 60px;
}

.messenger-app--messages---message .time span {
    color: var(--nobold);
}

/* toggle */
#chat-page .peer-window,
#chat-page.peer-shown .chat-window {
    display: none;
}

#chat-page .chat-window,
#chat-page.peer-shown .peer-window {
    display: inline-block;
    width: 100%;
}

.peer-window {
    position: relative;
    padding: 19px 19px;
}

.messages--actions {
    display: none;
    position: fixed;
    z-index: 4;
    width: 627px;
    height: 50px;
    background: #F6F6F6;
    border-bottom: 1px solid #707070;
    padding: 14px 14px;
    box-sizing: border-box;
}

.messages--actions.shown {
    display: flex;
    justify-content: space-between;
}

.messages--actions .message-tab {
    display: inline-block;
    padding: 5px 6px;
    margin-right: 6px;
    font-weight: bold;
}

.messages--actions .message-tab.message-tab-counter {
    background: var(--brand);
}

.messages--actions .message-tab.message-tab-counter a {
    color: var(--common-2);
}

.messages--actions .message-tab a {
    font-weight: bold;
}

.messenger-app--messages {
    display: flex;
    flex-direction: column;
    height: 70%;
    padding-bottom: 45px;
    min-height: 100vh;
    margin-top: auto;
}

.messenger-app--messages .messenger-special-message {
    display: flex;
    justify-content: center;
}

.messenger-app--messages .messenger-special-message .date-mini {
    display: inline-block;
    margin-left: 10px;
    color: var(--nobold);
}

.messenger-app--messages .messenger-app--messages-array {
    margin-top: auto;
    padding-top: 80px;
    padding-bottom: 60px;
    z-index: 0;
}

.messenger-app--messages---message {
    margin-top: 3px;
    position: relative;
}

.messenger-app--messages---message:hover .click-territory {
    opacity: 0.7;
}

.messenger-app--messages---message:hover .time {
    opacity: 1;
}

.messenger-app--messages---message.msg-selected .click-territory {
    opacity: 0.9;
}

.messenger-app--messages---message.same-author .checkmark {
    margin: 0px 0px 0px 25px;
}

.messenger-app--messages---message--wrap .checkmark {
    width: 20px;
    height: 20px;
    margin: 10px 0px 0px 25px;
    background: crimson;
}

.messenger-app--messages---message--wrap .click-territory {
    position: absolute;
    width: 55px;
    height: 100%;
    left: 0;
    opacity: 0;
    transition: 200ms opacity;
}

.messenger-app--messages .messenger-app--messages-day-time {
    display: flex;
    justify-content: center;
    margin: 5px 0px;
}

.messenger-app--messages .messenger-app--messages-day-time b {
    color: var(--nobold);
    padding: 5px 5px;
    user-select: none;
}

.messenger-app--messages---message > .messenger-app--messages---message--wrap {
    padding: 0px 60px;
    display: inline-flex;
}

.messenger-app--messages---message ._content .text {
    margin: 0;
}

.messenger-app--messages---message > .messenger-app--messages---message--wrap > div {
    display: inline-block;
}

.messenger-app--input>.ava {
    width: 52px;
    height: 52px;
    object-fit: cover;
    border-radius: 3px;
}

.messenger-app--messages---message.msg-selected {
    cursor: not-allowed;
    background: #00000017;
}

.messenger-app--messages---message ._avatar {
    width: 36px;
    max-height: 36px;
    margin-top: 3px;
}

.messenger-app--messages---message .ava {
    width: 34px;
    height: 34px;
    display: block;
    object-fit: cover;
    border-radius: 3px;
    user-select: none;
}

.messenger-app--messages---message ._content {
    width: 310px;
    line-height: 13.2pt;
    padding-left: 10px;
}

.messenger-app--messages---message ._content span,
.messenger-app--messages---message ._content>a {
    display: inline-block;
}

.messenger-app--messages---message ._content .text span {
    width: 100%;
    height: fit-content;
    overflow: hidden;
}

.messenger-app--messages---message ._content .attachments {
    width: 100%;
}

.messenger-app--messages---message ._content .attachments .msg-attach-j {
    display: inline-block;
}

.messenger-app--messages---message ._content .attachments .msg-attach-j-photo img {
    max-width: 86%;
    max-height: 100px;
}

.messenger-app--messages---message ._content .attachments .msg-attach-j-video {
    width: 150px;
}

.messenger-app--messages---message ._content .attachments .msg-attach-j-video .compact_video {
    width: 98%;
}

.messenger-app--messages---message ._content .attachments .msg-attach-j-video img {
    width: 100%;
}

.messenger-app--messages---message .msg-attach-w-doc .attachment_doc .attachment_note_content {
    height: 16px;
    margin-left: 2px;
}

.messenger-app--messages---message .msg-attach-w-doc .attachment_doc {
    padding: 2px 0px;
}

.messenger-app--messages---message .msg-attach-w-audio {
    display: flex;
    gap: 4px;
    align-items: center;
    cursor: pointer;
}

.messenger-app--messages---message .msg-attach-w-audio ._artist {
    font-weight: bold;
}

.messenger-app--messages---message .msg-attach-w-audio ._icon {
    width: 16px;
    height: 15px;
    background: black;
    margin-right: 3px;
}

.messenger-app--messages---message .msg-attach-w-audio span {
	display: inline;
}

.messenger-app--messages---message ._content .attachments:not(:empty) {
    margin-top: 3px;
}

.messenger-app--messages---message.same-author {
    margin-top: unset;
}

.messenger-app--messages---message.same-author ._avatar .ava,
.messenger-app--messages---message.same-author ._sender {
    display: none;
}

.messenger-app {
    height: 100%;
}

.messenger-app--tab-messenger {
    margin: 89px 0px -10px -10px;
}

.messenger-app--tab-messenger.messenger-app--overscrolled #messenger-app--down-button {
    display: block;
}

.messenger-app,
.messenger-app--input {
    width: 628px;
}

.messenger-app--input {
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background: linear-gradient(180deg, var(--bg-slightly), #d5d1d147);
    border-top: 1px solid #d6d6d6;
    padding: 10px 60px;
}

.messenger-app--input .input--messagebox-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px !important;
}

.messenger-app--input---messagebox {
    box-sizing: border-box;
    padding: 0 10px;
    width: calc(100% - 128px);
    float: right;
}

.messenger-app--input---messagebox textarea {
    width: 100%;
    height: 50px !important;
    resize: none;
    padding: 3px 6px;
    font-size: 11px;
}

.messenger-app--input .blocked {
    width: 100%;
    height: 100%;
    position: relative;
}

.messenger-app--input .blocked::after {
    content: attr(data-localized-text);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-weight: 900;
}

.messenger-app-end {
    position: fixed;
    background: var(--bg-page);
    bottom: 0px;
}

.messenger-app-end .input-reply {
    display: none;
    background: var(--bg-slightly);
    padding: 10px 59px;
    border-top: 1px solid var(--bg-slightly-border);
}

.messenger-app-end .input-reply .input-close {
    width: 53px;
    display: block;
    cursor: pointer;
}

.messenger-app-end.reply-selected .input-reply {
    display: grid;
    grid-template-columns: 1fr 0fr;
    gap: 23px;
}

.messenger-app-end.reply-selected .input-type {
    height: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.messenger-app-end.reply-selected .input-type {
    cursor: pointer;
}

.messages--peers-tabs {
    display: flex;
}

.messages--peers-tabs .messages--peers-tab {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding: 3px 5px 3px 5px;
    color: var(--text);
    border-radius: 1px;
}

.messages--peers-tabs .messages--peers-tab:hover {
    background: var(--bg-hover);
}

.messages--peers-tabs .messages--peers-tab.selected {
    background: var(--brand);
}

.messages--peers-tabs .messages--peers-tab a {
    font-size: 11px;
    display: flex;
}

.messages--peers-tabs .messages--peers-tab-close {
    display: block;
    height: 11px;
}

.messages--peers-tabs .messages--peers-tab.selected a,
.messages--peers-tabs .messages--peers-tab.selected .messages--peers-tab-close {
    color: var(--text-rev);
}

.messenger-app--input .peer-toggler {
    cursor: pointer;
}
