body.no-scroll {
    overflow-y: hidden;
    height: 100vh;
}

body.no-scroll .messenger-app--messages .messenger-app--messages-array {
    overflow-y: auto;
}

.crp-list {
    margin: 10px -6px -10px -11px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #d6d6d6;
    max-height: 70%;
    overflow-y: auto;
    width: 628px;
}

.crp-entry {
    display: flex;
    padding: 8px;
    cursor: pointer;
    margin-left: 1px;
    border-bottom: 1px solid #d6d6d6;
}

.crp-entry:hover {
    background-color: #f9f9f9;
}

.crp-entry:first-of-type {
    border-top: 1px solid #d6d6d6;
}

.crp-entry--image,
.crp-entry--info {
    margin-right: 15px;
}

.crp-entry--info {
    width: 130px;
    margin-top: 2%;
}

.crp-entry--message{
    padding: 3px;
    width: 395px;
    border-radius: 3px;
}

.crp-entry--image>img {
    max-width: 50px;
    border-radius: 3px;
}

.crp-entry--info span {
    color: grey;
}

.crp-entry--info a {
    font-weight: 900;
}

.crp-entry--message.unread {
    padding: 3px;
    width: 395px;
    background: #e6e6e6;
    border-radius: 3px;
}

.messenger-app--messages---message.unread {
    background-color: #ededed;
    padding-bottom: 1.2rem;
    margin-bottom: 0;
}

.messenger-app--messages---message.unread:first-of-type {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding-bottom: 5px;
    margin-bottom: 1.2rem;
}

.messenger-app--messages---message.unread:last-of-type {
    padding-bottom: 5px;
    margin-bottom: 1.2rem;
}

.crp-entry--message---av img {
    max-width: 32px;
    border-radius: 3px;
    margin-top: 20%;
    margin-left: 10%;
}

.crp-entry--message---av,
.crp-entry--message---text {
    display: inline-block;
    vertical-align: top;
    max-width: 50px;
    border-radius: 3px;
}

.crp-entry--message---text {
    max-height: 40px;
    max-width: 310px;
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap; */ /* myslivets: а как........... */
    margin-left: 3%;
}

.crp-entry--message---text,
.messenger-app--messages---message .time {
    color: #404036;
    display: inline-block;
}

.messenger-app--input {
    padding: 10px 60px;
}

.messenger-app--messages {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 70%;
    overflow-y: auto;
}

.messenger-app--messages---message {
    margin-top: 3px;
}

.messenger-app--messages---message > .messenger-app--messages---message--wrap {
    padding: 0px 60px;
    display: inline-block;
}

.messenger-app--messages---message > .messenger-app--messages---message--wrap > div {
    display: inline-block;
}

.messenger-app--input>.ava {
    width: 52px;
    height: 52px;
    object-fit: cover;
    border-radius: 3px;
}

.messenger-app--messages---message ._avatar {
    width: 36px;
}

.messenger-app--messages---message .ava {
    width: 36px;
    height: 37px;
    object-fit: cover;
    border-radius: 3px;
}

.messenger-app--messages---message ._content {
    width: 310px;
    line-height: 13.2pt;
    padding-left: 6px;
}

.messenger-app--messages---message ._content span,
.messenger-app--messages---message ._content>a {
    display: block;
}

.messenger-app--messages---message ._content span {
    width: 100%;
    height: fit-content;
    overflow: hidden;
}

.messenger-app--messages---message ._content .attachments {
    width: 100%;
}

.messenger-app--messages---message ._content .attachments>.msg-attach-j * {
    max-width: 86%;
}

.messenger-app--messages---message ._content .attachments:not(:empty) {
    margin-top: 15px;
}

.messenger-app--messages---message.same-author {
    margin-top: unset;
}

.messenger-app--messages---message.same-author ._avatar .ava,
.messenger-app--messages---message.same-author ._sender {
    display: none;
}

.messenger-app {
    width: 628px;
    height: 100%;
}

.messenger-app--tab-messenger {
    margin: 0px 0px -10px -10px;
}

.messenger-app--input {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #f9f9f9;
    height: 80px !important;
    border-top: 1px solid #d6d6d6;
}

.messenger-app--input---messagebox {
    box-sizing: border-box;
    padding: 0 10px;
    width: calc(100% - 128px);
    float: right;
}

.messenger-app--input---messagebox textarea {
    width: 100%;
    height: 50px !important;
    resize: none;
    margin-bottom: 8px !important;
}

.messenger-app--input .blocked {
    width: 100%;
    height: 100%;
    position: relative;
}

.messenger-app--input .blocked::after {
    content: attr(data-localized-text);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-weight: 900;
}

.messages--peers-tabs .messages--peers-tab {
    color: #37ff13;
    font-size: 27px;
    background: black;
    margin: 5px 10px 0px 0px;
}

.messages--peers-tabs .messages--peers-tab-close {
    padding: 9px 12px;
    background: #66f0cc;
}
