/* VK's Microblog CSS */
/* Design belongs to Pavel Durov & mail.ru */

.post {
    padding: 5px 0 5px 0;
}

.post-divider {
    border-bottom: 1px #ddd solid;
}

.post-author {
    background-color: transparent;
    border: none;
    padding: 0 3px 3px 3px;
}

.post-author .date {
    font-size: 11px;
    color: grey;
}

.post-content {
    border: none;
}

.post-content .text {
    padding: 0 4px 0 4px;
}

.post-menu {
    font-size: 10px;
}

.post-menu .date {
    color: grey;
}

.repost-icon {
    background: url('/assets/packages/static/openvk/img/published.gif') no-repeat 0px 0px;
    height: 12px;
    margin: 2px 3px 0px;
    width: 11px;
    float: left;
}

.repost-icon:hover {
    opacity: 1 !important;
}

.post-author .delete {
    float: right;
    display: inline-block;
    height: 16px;
    width: 16px;
    overflow: auto;
    background: url("/assets/packages/static/openvk/img/input_clear.gif") no-repeat 0px 0px;
    opacity: 0.1;
    transition-duration: 0.3s;
}

.post-author .delete:hover {
    opacity: 0.4;
}
