@media screen and (max-width: 770px) {
    body {
        background: white;
        width: 100%;
        font-family: tahoma,verdana,arial,sans-serif;
        scrollbar-gutter: auto !important;
        overflow-x: hidden;
    }

    body, table, .page_body {
        font-size: 20px;
    }

    select, .button {
        font-size: 14px;
        font-weight: 700;
    }

    label {
        font-size: 18px;
    }

    select {
        width: 100%;
    }

    body.dimmed {
        overflow-x: auto;
    }

    .navigation .link.edit-button {
        display: none;
    }

    .hide_on_mobiles {
        display: none;
    }

    .cookies-popup {
        height: 160px;
        font-size: 17px;
    }

    .cookies-popup .contanier {
        width: auto;
        padding: 0px 40px;
        gap: 5px;
    }

    #fastLogin {
        padding: 25px 44px 0px 44px;
    }

    .page_yellowheader {
        padding: 6px 11px 0px 11px !important;
        width: 100% !important;
        min-height: 30px;
        background: #e0e2e4;
        border-right: unset !important;
        border-left: unset !important;
        border-bottom: unset !important;
        font-size: 14px;
        font-weight: 700;
        box-sizing: border-box;
    }

    #backdropFilePicker > #spacer {
        width: unset !important;
    }

    .page_yellowheader a {
        color: #4e4e4e;
    }

    .page_yellowheader {
        color: #595959;
    }

    .page_yellowheader span {
        color: #727272;
    }

    #wrapHI, #wrapH,.wrap2,.wrap1,.page-wrap, .page_wrap {
        border-right: unset !important;
        border-left: unset !important;
        border-top: unset !important;
        border-bottom: unset !important;
        border: unset !important;
    }

    #auth {
        padding: unset;
    }

    #auth .container_gray {
        margin-left: unset;
        margin-bottom: unset;
        padding: unset;
    }

    .sidebar,
    .page_footer {
        display: none;
    }

    .page_footer p {
        padding-left: 48px;
        padding-right: 48px;
    }

    input, button {
        font-size: unset;
    }

    input[type='text'],
    input[type='password'],
    input[type='email'] {
        padding: 4px;
        background-color: #fff;
        border: 1px solid #b9c4d1;
        border-radius: 2px;
        outline-color: #5d80a6;
        font-size: 14px;
        -webkit-appearance: button;
        margin-top: 8px;
    }

    .layout {
        width: unset !important;
        margin-top: 50px;
        margin-bottom: 55px;
    }

    .sidebar {
        width: 96vw;
        float: unset !important;
        margin: unset !important;
    }

    #votesBalance, #news, #bday {
        width: 200px;
        background-color: unset;
        border-bottom: unset;
    }

    .floating_sidebar {
        display: none;
    }

    .toTop {
        display: none !important;
        visibility: hidden;
    }

    .page_header {
        height: 49px;
        width: 100vw;
        background: linear-gradient(#707070, #3b3b3b);
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        z-index: 1023;
        top: 0;
    }

    .articleView_link {
        display: none;
    }

    .articleView {
        z-index: 1026;
        width: 100%;
    }

    .page_header:active {
        background: linear-gradient(#3b3b3b, #595959)
    }

    .page_body {
        float: unset !important;
        margin-right: unset !important;
        min-height: 80vh;
        width: 100%;
    }

    .page_body .page_content {
        width: 100% !important;
        padding: 8px 8px;
    }

    .tabs {
        width: 100%;
        padding-bottom: 11px;
        border-bottom: unset;
        padding: 0px 10px 10px 10px;
        box-sizing: border-box;
        margin-left: unset;
    }

    .postFeedWrapper {
        width: unset;
    }

    .container_gray {
        width: 100% !important;
    }

    .page_footer {
        background: white !important;
        margin-left: unset !important;
        user-select: none;
        width: 100vw;
    }

    .navigation .link {
        background: white;
        margin-bottom: unset !important;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #eee;
        user-select: none;
    }

    .navigation .link object {
        background-color: #abadae;
        padding: 2px 6px;
        border-radius: 3px;
    }

    .navigation .link object,
    .navigation .link object a b {
        color: #fff;
    }

    .navigation .link object a { /* )))) */
        color: #abadae;
    }

    .header_navigation .link {
        background: unset !important;
    }

    .ovk-diag {
        margin: unset !important;
        margin-top: unset !important;
        margin-bottom: unset !important;
        width: 100% !important;
        height: 100%;
    }

    .ovk-diag-cont {
        width: 100% !important;
        top: 0;
        left: 0;
        height: 100%;
        transform: unset !important;
        margin-right: unset !important;
    }

    .ovk-diag-body {
        height: 84vh;
    }

    .menu_divider {
        height: 0px;
    }

    /* Menu */

    body.menu-expanded .page_body {
        display: none !important;
    }

    .page_header .mobile_title {
        display: block;
        user-select: none;
    }

    body.menu-expanded .page_header .mobile_title,
    body .page_header.search_expanded_at_all .mobile_title {
        display: none;
    }

    body.menu-expanded .sidebar,
    body.menu-expanded .page_footer {
        display: block;
    }

    /* Header */

    .home_button {
        background: url(/assets/packages/static/openvk/img/mobile/logo.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 24px;
        height: 24px;
        top: 12px;
        left: 12px;
    }

    .header_navigation .link:not(#search_box) {
        display: none;
    }

    .header_navigation #search_box {
        display: none;
        padding: 0px 17px 0px 7px;
    }

    .header_navigation {
        height: 100%;
        float: unset !important;
        position: absolute;
        right: 20px;
    }

    #search_box {
        height: 100% !important;
    }

    #search_box input[type='search'] {
        height: 30px;
        width: 227px;
        background: #fff url('/assets/packages/static/openvk/img/search_icon.png') no-repeat 9px 8px;
        border-radius: 6px;
        background-size: 13px 13px;
        padding-left: 30px !important;
        border: 2px solid #3b3b3b;
        font-size: 13px !important;
    }

    body.menu-expanded .search_expanded_at_all .header_navigation #search_box,
    body .search_expanded_at_all .header_navigation #search_box {
        display: flex;
        align-items: center;
    }

    body.menu-expanded .search_expanded_at_all .header_navigation {

    }

    body.menu-expanded .header_navigation .link:not(#search_box) {
        display: block;
    }

    body.menu-expanded .header_navigation .link:not(#search_box) {
        display: inline-flex;
        align-items: center;
        font-size: 10px;
        padding: 0px;
        height: 100%;
        padding: 0px 4px;
    }

    body.menu-expanded .search_expanded_at_all .link:not(#search_box) {
        display: none;
    }

    .page_header.search_expanded select[name='section'] {
        display: none !important;
    }

    .header_navigation #search_box .search_box_button span {
        font-size: 18px;
    }

    #ajloader {
        width: 20% !important;
        height: 8% !important;
        padding-top: unset !important;
    }

    #ajloader.shown {
        display: flex !important;
        align-items: center;
        justify-content: center;
    }

    #ajloader img {
        width: 50%;
    }

    .mobile_title span {
        font-weight: bold;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: 17px;
        color: white;
    }

    /* footer */

    .page_footer {
        text-align: left !important;
    }

    .navigation_footer {
        display: flex;
        flex-direction: column;
    }

    .navigation .link,
    .page_footer .navigation_footer .link {
        padding: 12px 3px 12px 45px;
        font-weight: 600;
        font-size: 16px !important;
    }

    body.menu-expanded .header_navigation .link:not(#search_box) a {
        font-size: 13px;
        user-select: none;
    }

    .page_header.search_expanded #search_and_one_more_wrapper {
        width: unset !important;
    }

    /* Icons */

    .navigation .link::before {
        background: url(/assets/packages/static/openvk/img/mobile/menu_icons.png);
        background-repeat: no-repeat;
        position: absolute;
        display: block;
        content: '';
        width: 23px;
        height: 20px;
        left: 15px;
        margin-top: 0px;
        background-position: 0px 100px;
    }

    .navigation .link.my_page::before {
        background: white;
    }

    .navigation .link.my_friends::before {
        background-position: 0px -67px;
    }

    .navigation .link.my_photos::before {
        background-position: 0px -113px;
    }

    .navigation .link.my_audios::before {
        background-position: 0px -198px;
        height: 20px;
    }

    .navigation .link.my_messages::before {
        background-position: 0px -3px;
    }

    .navigation .link.my_feed::before {
        background-position: 0px -26px;
    }

    .navigation .link.my_feedback::before {
        background-position: 0px -46px;
    }

    .navigation .link.my_groups::before {
        background-position: 0px -91px;
    }

    .navigation .link.my_bookmarks::before {
        background-position: 0px -177px;
    }

    .navigation .link.my_settings::before {
        background-position: 0px -244px;
    }

    .navigation .link.search::before {
        background-position: 0px -135px;
    }

    .navigation .link.fulltheme::before {
        background-position: 0px -266px;
    }

    .navigation .link.exits::before {
        background-position: 0px -288px;
    }

    .navigation .link.my_videos::before {
        background-position: 0px -222px;
    }

    .navigation .link.my_support::before {
        background-position: 0px -332px;
    }

    .navigation .link.my_notifications::before {
        background-position: 0px -393px;
    }

    .navigation .link.my_apps::before {
        background-position: 0px -393px;
    }

    .navigation .link.my_documents::before {
        background-position: 0px -393px;
    }

    .navigation .link.my_apps::before {
        background-position: 0px -373px;
    }

    /* Elements */

    ul {
        list-style: disc;
    }

    h4 {
        color: #505050;
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 16px;
    }

    textarea {
        width: 100%;
        font-size: 16px;
        height: 31px;
    }

    .tab, 
    .mb_tab {
        font-size: 14px;
    }

    .tab {
        border-radius: 0px;
        padding: 3px 8px;
    }

    #activetabs {
        background: #595959;
        color: #fff;
        font-weight: 600;
    }

    table.flexible_table {
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 98%;
    }

    table.flexible_table td[width="120"],
    table.flexible_table td {
        text-align: left;
    }

    table.flexible_table thead, tbody {
        display: flex;
        flex-direction: column;
        gap: 13px;
    }

    .auth_table {
        padding: 0% 14%;
        margin-bottom: 10px !important;
    }

    table.flexible_table tr {
        display: flex;
        flex-direction: column;
        text-align: left !important;
    }

    table.flexible_table td, table.flexible_table th {
        width: 100% !important;
        display: block;
    }

    table.flexible_table .not_flexible_tr td {
        width: unset !important;
    }

    table.flexible_table .not_flexible_tr {
        flex-direction: row;
    }

    .button.primary, .fileInput, input[type=color] {
        font-weight: 700;
        background-color: #595959;
        color: #fff;
        -webkit-appearance: none;
        padding: 6px 12px;
        font-size: 14px;
    }

    .summaryBar,
    .summaryBar.padding {
        padding-bottom: 18px;
    }

    .summaryBar .summary {
        color: #505050;
    }

    .searchList, .verticalGrayTabs {
        padding: 6px 4px 6px 4px;
        display: block;
        margin-bottom: 10px;
    }

    .verticalGrayTabsWrapper {
        width: 100%;
        font-size: 16px;
    }

    .searchList li, .searchList a, .verticalGrayTabs a {
        display: inline-block;
        font-size: 16px;
    }

    .avatar-list-item {
        display: flex;
    }

    .avatar-list-item .avatar {
        float: unset;
    }

    .avatar-list-item .info {
        float: unset;
        width: 100%;
    }

    .avatar-list-item .avatar img {
        width: 40px;
        height: 40px;
    }

    .avatar-list-item .info .title {
        font-size: 16px;
    }

    .scroll_node table {
        width: 100%;
    }

    .media-page-wrapper-description .upload_time {
        font-size: 16px;
    }

    .container_gray .content {
        border: unset;
        padding: 0;
        background: unset;
    }

    .ovk-video>.preview, .video-preview {
        margin-right: 10px;
    }

    /* Likes */
    .likeCnt {
        font-size: 16px;
    }

    .heart {
        background: url('/assets/packages/static/openvk/img/like.gif') no-repeat 0px 0;
        background-size: cover;
        height: 16px;
        width: 16px;
    }

    .like_tooltip_wrapper .like_tooltip_head span, .like_tooltip_wrapper .like_tooltip_head a {
        height: 20px;
        font-size: 16px;
    }

    #wallAttachmentMenu {
        min-width: 100px;
    }

    #noteFactory input,
    #noteFactory textarea,
    #noteFactory #editor {
        width: 100% !important;
    }

    .note_body {
        width: 80% !important;
    }

    /* Pages */

    #profile_link, 
    .profile_links .profile_link,
    #profile_links .profile_link  {
        padding: 8px 8px;
        font-size: 15px;
        width: 100% !important;
    }

    .profile-hints {
        padding: 13px 8px;
    }

    .completeness-gauge {
        height: 21px;
    }

    .small-textarea {
        height: 32px;
    }

    .media-page-author-block {
        padding: 0px 7px;
    }

    .media-page-author-block img {
        width: 40px;
    }

    .media-page-wrapper-description {
        padding: 8px 0px;
    }

    /* Search */

    .page_wrap_content_main {
        width: 100%;
    }

    .page_wrap_content .page_search_options {
        padding: 0px 50% 4px 6px;
    }

    .content_page_error {
        padding: 100px 3px;
        margin-bottom: 50px;
    }

    #search_page {
        display: flex;
        flex-direction: column-reverse;
        justify-content: unset;
    }

    .avatar_controls .avatar_variants a {
        font-size: 10px;
    }

    .avatar_controls .avatar_variants span {
        margin-top: 1px;
        font-weight: 600;
    }

    .avatarDelete::before {
        width: 12px;
        height: 19px;
    }

    .left_small_block, .right_small_block {
        width: unset;
        float: unset;
        margin-left: -7px;
        border-right: unset;
        padding-top: 250px;
    }

    .right_big_block, .left_big_block {
        width: unset;
        float: unset;
        margin-left: -7px;
        margin-right: unset;
        border-left: unset;
    }

    .page_content.overscrolled div[class$="_small_block"] {
        position: unset !important;
        visibility: unset !important;
    }

    .page_content.overscrolled div[class$="_big_block"] {
        position: unset !important;
        visibility: unset !important;
        width: unset !important;
    }

    .content_list.long {
        width: 100%;
    }

    .content_title_expanded {
        background-image: unset !important;
        border-top: unset;
        padding: 8px 7px 8px 16px;
        font-size: 14px;
    }

    .content_subtitle {
        border-top: unset;
        border-bottom: unset;
        padding: 7px 16px;
        font-size: 13px;
    }

    .avatar_block {
        width: 30%;
        position: absolute !important;
        left: 18px;
        top: 90px;
        max-height: 248px;
    }

    .hide_on_mobiles_name {
        display: none;
    }

    #clubPage {
        display: flex;
        flex-direction: column-reverse;
    }

    .page_info_main {
        position: absolute;
        top: 93px;
        left: 35%;
        width: 65%;
        overflow-x: hidden;
        overflow-y: auto;
        height: 248px;
    }

    .tour {
        font-size: 15px;
        width: 300px;
    }

    .tour div {
        font-size: 14px;
    }

    /* Audios */

    #upload_container .upload_container_element {
        padding: 0px 12px;
    }

    .bigPlayer .trackPanel .track .selectableTrackLoadProgress {
        top: -24px;
    }

    .bigPlayer {
        height: 70px;
    }

    .bigPlayer .bigPlayerWrapper {
        height: 75px;
    }

    .tip_result {
        font-size: 14px;
    }

    .bigPlayer .bigPlayerWrapper {
        grid-template-columns: 0fr 6fr 1fr 0fr;
    }

    .bigPlayer .bigPlayerWrapper .absoluteButtons {
        display: none;
    }

    .bigPlayer .trackPanel {
        margin-left: 8px;
        width: auto;
    }

    .bigPlayer .volumePanel {
        margin-left: 8px;
    }

    .bigPlayer .trackInfo .trackName {
        font-size: 15px;
    }

    #ajax_audio_player {
        position: fixed;
        bottom: 0 !important;
        top: unset !important;
        width: 100%;
        height: 70px;
        z-index: 1023;
    }

    #ajax_audio_player #aj_player_play {
        padding: 21px 7px;
    }

    #ajax_audio_player .selectableTrack .slider {
        width: 22px;
        height: 10px;
    }

    #ajax_audio_player #aj_player_track {
        margin-top: 13px;
    }

    #ajax_audio_player #aj_player_volume {
        margin-top: 24px;
        width: 117px;
    }

    #ajax_audio_player #aj_player_close_btn {
        width: 19px;
        height: 22px;
    }

    #aj_player_tracks {
        display: none !important;
    }

    .playlistListView .playlistInfo .playlistMeta, .playlistListView .playlistInfo .playlistMeta span {
        font-size: 15px;
    }

    .audiosSideContainer {
        width: 93% !important;
    }

    .vertical-attachment .audioEntry .status {
        height: unset !important;
    }

    .audiosDiv {
        display: flex;
        flex-direction: column-reverse;
    }

    .searchList hr, .verticalGrayTabs hr {
        display: none;
    }

    .friendsAudiosList {
        margin-top: unset;
        display: none; /* I'm not sure where it should be */
    }

    .friendsAudiosList > a {
        width: 100%;
        display: block;
    }

    .friendsAudiosList .elem .additionalInfo .name {
        font-size: 16px;
    }

    .friendsAudiosList .elem .additionalInfo .desc {
        font-size: 15px;
    }

    .friendsAudiosList .elem {
        width: 100%;
    }

    .audioEntry .audioEntryWrapper {
        padding: 15px 10px;
    }

    .audioEntry .status .mediaInfo {
        line-height: unset;
    }

    .audioEntry .playerButton {
        width: 30px;
        height: 31px;
        margin-top: -6px;
    }

    .audioEntry .playerButton .playIcon {
        background-size: cover;
        width: 30px;
        height: 31px;
    }

    .audioEntry .status {
        height: unset;
        margin-top: -5px;
    }

    .audioEntry .nobold {
        font-size: 14px;
    }

    .audioEntry .status:hover .mediaInfo {
        position: unset;
    }

    .audioEntry.nowPlaying .playIcon {
        background-position-y: -30px !important;
    }

    #ctx_menu a {
        padding: 12px 6px 6px 20px;
        font-size: 15px;
    }

    /* Docs */

    .docListViewItem .doc_icon {
        width: 75px;
        height: 38px;
    }

    .docListViewItem .doc_icon.no_image {
        height: 38px;
    }

    /* Apps */

    #appFrame {
        width: 100%;
        margin-left: -16px;
        margin-top: -8px;
    }

    /* Modals */

    .ovk-photo-view-dimmer {
        z-index: 1025;
        scrollbar-gutter: unset;
    }

    .ovk-modal-player-window {
        margin: 0px;
        width: 100%;
    }

    .ovk-photo-close-icon {
        display: none;
    }

    .miniplayer {
        padding: 0px 4px;
    }

    .miniplayer .miniplayer-head {
        padding: 7px 5px;
    }

    .ovk-modal-player-window #ovk-player-part {
        height: 100vh;
    }

    .ovk-photo-view-overlay,
    .ovk-photo-view-overlay-right {
        height: 90% !important;
    }

    .ovk-photo-view {
        margin: unset;
        width: 100% !important;
        min-height: 100%;
    }

    .ovk-diag-action {
        position: absolute;
        bottom: 0;
    }

    .ovk-diag-action > .button {
        padding: 10px 48px;
    }

    .ovk-diag-head {
        font-size: 27px;
    }

    /* Photos, videos */

    .whiteBox {
        width: unset;
    }

    .uploadedImageDescription span {
        display: none;
    }

    .insertedPhoto {
        height: 118px;
    }

    .videosInsert .content table {
        width: 100%;
    }

    /* Posts */

    .post-avatar {
        width: 55px;
    }

    .post-content,
    .post-content .text {
        font-size: 14px;
    }

    .post-author .date {
        font-size: 13px;
    }

    .post {
        margin-bottom: 10px;
    }

    .post-author {
        font-size: 14px;
    }

    .post-menu {
        font-size: 14px !important;
    }

    /* Messenger */

    .messenger-app {
        width: 100%;
    }

    .messenger-app--input {
        padding: 10px 2% 25px 2%;
    }

    .messenger-app--messages {
        padding: 10px 2%;
    }

    .messenger-app--messages---message ._content {
        width: 70%;
    }

    .messenger-app--messages---message ._content span, .messenger-app--messages---message ._content>a {
        font-size: 15px;
    }

    .messenger-app--messages---message ._content span {
        font-size: 15px;
        margin-top: 5px;
    }

    .messenger-app--messages---message .time {
        width: 100px;
        font-size: 13px;
    }

    /* Admin */

    .support_agent_l {
        padding-top: 0px;
    }

    .support_agent_r {
        margin-top: 10px;
    }

    .support_agent_l img {
        width: 100px !important;
    }

    .nospam_table tr {
        width: 100% !important;
    }
}
