.post-nsfw .post-content {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.post-nsfw .post-content .text {
    filter: saturate(0.8) blur(28px);
    pointer-events: none;
}

.post-nsfw .post-content::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: hsla(0, 0%, 0%, .7);
    color: #fff;
    text-align: center;
    content: attr(data-localized-nsfw-text);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
