@import "black.css";

@keyframes blink {
    0% {
        color: white;
    }

    100% {
        color: blue;
    }
}

@keyframes cock-blink {
    0% {
        background-color: black;
    }

    100% {
        background-color: red;
    }
}

@keyframes bg-heresy {
    0% {
        background-position-x: -100px;
        background-position-y: -100px;
        background-size: 100%
    }

    100% {
        background-position-x: 100px;
        background-position-y: 100px;
        background-size: 10%
    }
}

.text::after, .page_yellowheader::after, .ugc-table tbody *::after, a::after {content: "IM NOT GOOD AT COMPUTERS PLZ TO HELP";}

body {
    background: linear-gradient(45deg, crimson, yellow, red, orange, cadetblue);
}

#auth {
    background-image:none;
    background-color: transparent;
    color: red!important;
}

#auth > * > * > * > * > * > * {
    background: black;
    color: red;
    animation: cock-blink .1s infinite;
}

.page_header {
    background: grey;
    font-family: serif;
    font-size: 40px;
}

.page_header:hover {
    font-size: 80px;
    color: red;
}

img {
    transform: rotate3d(1, 1, 1, 45deg);
    background: mediumvioletred;
}

img:hover {
    filter: contrast(10);
}

#auth > * > * > * > * > * > *::before {content: "Altair no don't eat that penis";font-family: cursive;}

body {
    transform: scaleY(0.9);
}

.page_yellowheader {
    background-color: cornflowerblue;
    border-right: none!important;
    border-left: none!important;
    border-left: none;
    border-bottom: none!important;
    overflow: hidden;
    background: red;
}

body.scrolled {
    background-image: url("https://i.imgur.com/Q81Osua.jpg");
    background-size: 15%;
    color: blue!important;
    animation: bg-heresy .5s infinite;
}

#wrapHI {}

.page_body {
    background: rgba(1, 4, 35, .4);
}

div, td, tr, th {
    animation: blink .1s infinite;
}

.sidebar {
    background-image: url(https://styles.redditmedia.com/t5_2sz7j/styles/image_widget_zerhaka27gf01.png);
    background-position-x: -100px;
}

.toTop {
    opacity: 1;
    background-image: url("http://o.vriska.ru/openvk-datastore/5984e537f9efa4698b82565792e49448f2e017a9d14a85531f62f6b477b2ac92b2dabf5974ff8039b5d2da3b83567c3fe3cbe559e75813ae426fd2d1afcb0aed.jpeg");
    background-size: contain;
    filter: invert(1);
    pointer-events: none;
}