.page_header {
    background: url(/assets/packages/static/openvk/img/libcss-ivinete/ovkg.png);
    height: 44px;
}

.header_navigation .link {
    background: url(/assets/packages/static/openvk/img/libcss-ivinete/headmd.png) no-repeat;
    height: 30px;
}
.header_navigation .link:hover {
    text-decoration: underline;
    color: #fff;
}

.page_yellowheader {
    font-weight: bold;
    font-size: 11px;
    padding: 8px 10px 7px;
    margin: 0px;
    background: #f9f9f9 url(/assets/packages/static/openvk/img/libcss-ivinete/headerg.gif) repeat-x;
    color: #2f6102;        
    border-bottom: solid 1px #dedede;
}

a {
    color: #559250;
}


h4 {
    border-bottom: 1px solid #E8EBEE;
    color: #559250;
    font-size: 12px;
    font-weight: bold;
    margin: 0px;
    padding: 0px 0px 3px;
    font-family: verdana, arial, sans-serif;
}

#xhead {
    height:44px;
    left:0;
    position:absolute;
    width:100%;
    z-index:-1
}

#xhead.dm {
  background: #18a709 url(/assets/packages/static/openvk/img/libcss-ivinete/bar.jpg) repeat-x 250px 0;
}

.page_yellowheader a {
    color: #559250;
}

.page_yellowheader span {
    color: #559250;
}

.post-author {
    border-top: #559250 solid 1px;
}
