#xhead.dm {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 45px;
    background-color: #4a76a8;
}

.home_button {
    background-image: url(https://vk.com/images/svg_icons/ic_head_logo.svg);
    background-position-y: center;
    background-position-x: 10pt;
    background-repeat: no-repeat;
}

.page_header {
    background: none;
}

.header_navigation {
    display: none;
}

body {
    background-color: #edeef0;
}

.page_yellowheader {
    display: none;
}

.left_small_block > *, .right_big_block > *, .right_small_block > *, .left_big_block > *, .post {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    margin: 15px 0 0;
    padding: 15pt;
}

.left_small_block > *:first-of-type, .right_big_block > *:first-of-type, .right_small_block > *:first-of-type, .left_big_block > *:first-of-type {
    margin-top: 0;
    margin-bottom: -10px;
    /* border-bottom: 1px solid white; */
    border-radius: 4px 4px 0 0;
    box-shadow: 0px -1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.left_small_block > *:nth-of-type(2), .right_big_block > *:nth-of-type(2), .right_small_block > *:nth-of-type(2), .left_big_block > *:nth-of-type(2) {
    margin-top: -5px;
    box-shadow: 0px -9px 0 0 #fff, 0px 1px 0 1px #e3e4e8;
}

.content_divider {
    background: unset;
    border-radius: unset;
    box-shadow: none;
    padding: 0;
}

.User img {
    width: 50px!important;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
}

.User {
    /* width: unset!important; */
}

.content_title_expanded {
    background: none;
    border: none;
    padding: 0;
    color: #000;
    font-weight: 100;
    display: inline;
    margin-bottom: 5px;
    font-size: .73rem;
}

.content_subtitle {
    background: none;
    padding: inherit;
    border: none;
    margin-bottom: 5pt;
}

.page_info + div {
    padding: 0 20px 10px;
}

.page_info + div > div {
    padding: 5px 0px!important;
}

.page_info + div > div > h4 {
    display: none!important;
}

.page_info + div > div > br {
    display: none;
}

.layout {
    width: 820px;
}

#wrapH, #wrapHI, .wrap2, .wrap1, #auth {
    border: none;
}

.wrap1 {
    width: inherit;
}

.page_body {
    width: 680px;
}

.left_small_block, .right_small_block {
    width: 240px;
}

.page_content {
    width: 680px;
}

.left_big_block, .right_big_block {
    width: 425px;
}

.content_divider > .content_title_expanded {
    display: none;
}

.content_divider > div > .content_subtitle {
    display: none;
}

.content_divider > div > .content {
    padding: 0;
}

.content {}

#profile_link, .profile_link {
    background: none;
    border: none;
    width: 100%!important;
    margin: 0;
    margin-bottom: 5pt;
    padding: 7px;
    color: #fff!important;
    text-align: center;
    background-color: #5181b8;
    border-radius: 6px;
}

#profile_link:hover, .profile_link:hover {
    background-color: #5b88bd;
}

div#profile_links {
    margin: -10px 0;
}

.navigation .link, .navigation .link:hover {
    border: none;
    margin-top: 5px;
    color: #305a78;
}

.post .post {
    box-shadow: none;
    margin: 0;
    padding: 0;
}

.post-author {
    background: none;
    border: none;
    padding: 0;
}

.post img {}

td {}

.post td[width='54'] > img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
}

.post-content {
    border: none;
}

.post-menu {
    margin-left: -70px;
    margin-top: 20px;
    font-size: unset;
    display: flex;
    flex-direction: row-reverse;
    display: none;
}

.post {
    padding-bottom: 10px;
}

.post-menu div[style='float: right; font-size: .7rem;'] {
    float: unset!important;
    font-size: unset!important;
    margin-right: 162px;
    /* padding-bottom: 10px; */
    /* background-color: white; */
}

.post-menu div[style='float: right; font-size: .7rem;'] > a > text {
    font-size: 1.1rem;
    vertical-align: middle;
}

.post-menu > a {
}
