{var $user = $notification->getModel(0)}
{var $post = $notification->getModel(1)}

{_nt_you_were_mentioned_u} <a href="{$user->getURL()}"><b>{$user->getCanonicalName()}</b></a> {$notification->getDateTime()} <a href="/note{$post->getPrettyId()}"><b>{_nt_mention_in_note}</b></a>: "{$notification->getData()}"
