.page_header {
    background-image: url('/themepack/midnight/0.0.4.1/resource/xheader.png') !important;
}

.page_custom_header {
    background-image: url('/themepack/midnight/0.0.4.1/resource/xheader_custom.png') !important;
}
