<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <title>OAuth Blank</title>
   </head>
   <body>
     Пожалуйста, <b>не копируйте</b> данные из адресной строки для сторонних сайтов. Таким образом Вы можете <b>потерять доступ</b> к Вашему аккаунту.
   </body>
</html>