<div class="album-photo scroll_node" onclick="OpenMiniature(event, {$photo->getURLBySizeId('larger')}, null, {$photo->getPrettyId()}, null)">
    <a href="/photo{$photo->getPrettyId()}">
        <img class="album-photo--image" src="{$photo->getURLBySizeId('tinier')}" alt="{$photo->getDescription()}"  loading="lazy" />
    </a>
</div>
