{extends "../@layout.latte"}

{block title}{_delete_photo}{/block}

{block header}
    {_delete_photo}
{/block}

{block content}
    {_sure_deleting_photo}
    <br/>
    <br/>
    <form method="POST">
        <input type="hidden" value="{$csrfToken}" name="hash" />
        
        <a href="{$_SERVER['HTTP_REFERER']}" class="button">{_no}</a>
        &nbsp;
        <button class="button">{_yes}</button>
    </form>
{/block}
